# Godot 4
.godot/
/android/
*.import
!assets/textures/*.import
!assets/textures/titans/*.import
!assets/models/titans/*.import
!assets/models/grunt/*.import
!assets/models/eco/*.import
!assets/textures/eco/v_*.import
!assets/textures/eco/looks/*.import
tools/eco/__pycache__/
tools/grunt/__pycache__/
tools/hub/__pycache__/
tools/pistol/__pycache__/
!assets/models/smart_pistol/*.import
!assets/models/sidearms/*.import
tools/run/__pycache__/
tools/titans/__pycache__/
tools/__pycache__/
!assets/models/npc/*.import
!assets/textures/npc/*/*.import
tools/npc/__pycache__/

# Exported builds
/build/
