# Godot 4
.godot/
/android/
*.import
export_presets.cfg
!assets/textures/*.import
!assets/models/grunt/*.import
!assets/models/eco/*.import
tools/eco/__pycache__/
tools/grunt/__pycache__/
tools/hub/__pycache__/
tools/pistol/__pycache__/
!assets/models/smart_pistol/*.import
!assets/models/sidearms/*.import
